<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mikaeldionito.sistempakarpenyakitkulitanjing">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".main.admin.DetailRiwayatActivity" />
        <activity android:name=".main.admin.TambahPengetahuanActivity" />
        <activity android:name=".main.admin.TambahPenyakitActivity" />
        <activity android:name=".main.admin.TambahGejalaActivity" />
        <activity android:name=".main.admin.PengetahuanActivity" />
        <activity android:name=".main.admin.GejalaActivity" />
        <activity android:name=".main.admin.PenyakitActivity" />
        <activity android:name=".main.admin.DaftarRiwayatPenggunaanActivity" />
        <activity android:name=".main.admin.AdminLoginActivity" />
        <activity
            android:name=".main.admin.AdminMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.DiagnosaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.FormDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.SolusiPenyakitActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".main.MainActivity"/>
        <activity
            android:name=".main.InfoPenyakitActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".main.MainActivity"/>
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>